.asosiyquti{
    width: 100%;
    height: 100%;
    background-image: url(tabiat1.jpg);
    border-radius: 30px;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    transition: 0.3s;
}
#fortext{
    flex: 0 0 auto;
    width: 350px;
    height: 40px;
    border-radius: 22px;
    border-color: rgba(255, 255, 255, 0);
    margin: 80 440 0px;
    color: rgb(255, 255, 255);
    background-color: black;
    transition: 0.3s;
}
#tugma{
    flex: 0 0 auto;
    width: 50px;
    height: 40px;
    margin: -40 741 0px;
    border-top-right-radius: 22px;
    border-end-end-radius: 22px;
    border: none;
    background-color: rgb(0, 0, 0);
    background-size: cover;  
    transition: 0.3s;
}
#qidiruvv{
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
    background-size: cover;
    margin: 0 0 0px;
    transition: 0.3s;
}
#rasm{
    flex: 0 0 auto;
    width: 400px;
    height: 300px;
    margin: 0 0 0px;
    padding: 0 0 0px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    background-image: url(hello.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.3s;
}
#markaziyquti{
    flex: 0 0 auto;
    width: 500px;
    height: 330px;
    background-color: rgba(0, 0, 0, 0.441);
    margin: 50 370 0px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    transition: 0.3s;
}
#yuqoriga{
    width: 50px;
    height: 36px;
    margin: 0 0 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 22px;
    transition: 0.3s;
}
#tugma:hover{
    background-color: rgb(161, 159, 159);
    transition: 0.5s;
}
#kuntun:hover{
    background-color: rgb(161, 159, 159);
    transition: 0.5s;
}
#royhatlar{
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.468);
    margin: -315 950 0px;
    border-radius: 22px;
    transition: 0.3s;
}
#box1{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.468);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
#box2{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
#box3{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
#box4{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
#box5{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
#box6{
        width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-end-end-radius: 22px;
    border-end-start-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    border: none;
    transition: 0.3s;
}
body{
    background-color: rgb(255, 255, 255);
    transition: 0.7s;
}
#box2:hover{
    background-color: rgb(161, 159, 159);
    transition: 0.7s;
}
#box3:hover{
    background-color: rgb(161, 159, 159);
    transition: 0.7s;
}
#box4:hover{
    background-color: rgb(161, 159, 159);
    transition: 0.7s;
}
#box5:hover{
    background-color: rgb(161, 159, 159);
    transition: 0.7s;
}
#box6:hover{
    background-color: rgb(161, 159, 159);
    transition: 0.7s;
}
#kuntun{
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    border: none;
    margin: -405 701 0px;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
    border-radius: 50%;
}
#pastkichiziq{
    flex: 0 0 100px;
    width: 1205px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.655);
    margin: 50 25 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    border-top-right-radius: 7px ;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px ;
    border-bottom-left-radius: 7px;
    transition: 0.3s;
}
#markaziyquti.keyin2{
    flex: 0 0 auto;
    width: 500px;
    height: 330px;
    background-color: rgba(255, 255, 255, 0.441);
    margin: 50 370 0px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    box-shadow: 0 0 10px black;
    transition: 0.3s;
}
.asosiyquti.keyin1{
        width: 100%;
    height: 100%;
    background-image: url(tabiat2.jpg);
    border-radius: 30px;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    box-shadow: 0 0 30px black;
}
#fortext.keyin3{
    flex: 0 0 auto;
    width: 350px;
    height: 40px;
    border-radius: 22px;
    border-color: rgba(255, 255, 255, 0);
    margin: 80 440 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black; 
}
#kuntun.keyin4{
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    border: none;
    margin: -405 701 0px;
    background-color: rgb(197, 197, 197);
    border-radius: 0px;
}
#tugma.keyin5{
    flex: 0 0 auto;
    width: 50px;
    height: 40px;
    margin: -40 741 0px;
    border-top-right-radius: 22px;
    border-end-end-radius: 22px;
    border: none;
    background-color: rgb(197, 197, 197);
    background-size: cover;  
}
#royhatlar.keyin6{
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.468);
    margin: -315 950 0px;
    border-radius: 22px;
    box-shadow: 0 0 10px black;
}
#box1.keyin7{
    width: 200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.484);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 7px black;
}
#box2.keyin8{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}
#box3.keyin9{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}
#box4.keyin10{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}
#box5.keyin11{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}
#box6.keyin12{
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-end-end-radius: 22px;
    border-end-start-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    border: none;
}
#rasm.keyin13{
    flex: 0 0 auto;
    width: 400px;
    height: 300px;
    margin: 0 0 0px;
    padding: 0 0 0px;
    border-radius: 12px;
    box-shadow: 0 0 35px rgb(0, 0, 0);
    background-image: url(hello2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
body.keyin14{
    background-color: rgba(0, 0, 0, 0);
}
#box2:hover{
    background-color: rgb(71, 71, 71);
}
#box3:hover{
    background-color: rgb(71, 71, 71);
}
#box4:hover{
    background-color: rgb(71, 71, 71);
}
#box5:hover{
    background-color: rgb(71, 71, 71);
}
#box6:hover{
    background-color: rgb(71, 71, 71);;
}
#tugma:hover{
    background-color: rgb(71, 71, 71);
}
#kuntun:hover{
    background-color: rgb(71, 71, 71);
}
#pastkichiziq.keyin15{
    flex: 0 0 auto;
    width: 1205px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.655);
    margin: 50 25 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    border-top-right-radius: 7px ;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px ;
    border-bottom-left-radius: 7px;
}